/* Завантаження зовнішнього шрифту Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* Застосування стилів TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Визначення змінних для кольорів і стилів */
:root {
  --foreground-rgb: 0, 0, 0; /* Основний колір тексту */
  --background-start-rgb: 214, 219, 220; /* Початковий колір фону */
  --background-end-rgb: 255, 255, 255; /* Кінцевий колір фону */
  /* Інші кольори */
  --color-primary: #323d4b;
  --color-secondary: #ec9b00;
  --color-secondary-lighter: #EAC873;
  --color-logo: #219ebc;
  --color-danger: #E76F51;
  --color-danger-lighter: #EB8369;
  --color-success: #439A86;
  --color-success-lighter: #2EAFA0;
  --color-page: #fff;
  --color-text: #fff;
  --color-dark-text: #212529;
  --color-light-text: #acacac;
}

/* Застосування темного режиму за замовчуванням */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Використання Layer для стилізації тексту розміру 'xxs' */
@layer  {
  .text-xxs {
    font-size: 0.5rem;
    line-height: .8rem;
  }
}

/* Основні стилі для тіла документу */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  @apply min-h-full; /* Застосування стилів TailwindCSS */
}

/* Стилі для введення, текстових полів та вибірників */
input, textarea, select {
  @apply border-2 border-gray-300 p-1 w-full rounded-none leading-10;
}
input:focus, textarea:focus, select:focus {
  @apply border-gray-900;
}

/* Стилі для міток */
label {
  @apply flex pt-2;
}

/* Стилі для кнопок */
button, [type='button'], [type='submit'], [type='reset'] {
  @apply flex flex-row items-center w-fit gap-1 rounded-md py-2 px-2.5 cursor-pointer transition-all ease-in-out  text-text-color bg-secondary-color hover:bg-secondary-lighter-color;
}

/* Додаткові стилі для окремих типів кнопок */
button.btn-outliner {
  @apply bg-transparent border border-secondary-color hover:bg-secondary-color;
}
button.btn-no-bg {
  @apply bg-transparent hover:bg-transparent;
}
button.btn-danger{
  @apply bg-danger-color hover:bg-danger-lighter-color;
}
button.btn-success{
  @apply bg-success-color hover:bg-success-lighter-color;
}
button.btn-dark-text {
  @apply text-dark-text-color hover:text-secondary-color;
}
button[disabled] {
  @apply cursor-default opacity-50;
}

/* Стилі для навігаційних посилань */
nav a:not(.bg-secondary-color):hover {
  @apply text-secondary-color;
}

/* Стилі для базової таблиці */
table.basic{
  @apply w-full flex md:table flex-col items-center text-center md:text-left gap-6 md:bg-gray-100;
}

/* Стилі для заголовків таблиці */
table.basic thead{
  @apply w-full flex md:table-header-group flex-col justify-center bg-gray-300 rounded-sm;
}

/* Стилі для рядків таблиці */
table.basic tr{
  @apply border border-gray-300 rounded-sm md:border-none text-dark-text-color text-xs;
}

/* Стилі для непарних стовпців таблиці */
table.basic td:nth-child(2n-1) {
  @apply bg-gray-100 md:bg-inherit;
}

/* Стилі для парних рядків таблиці */
table.basic tr:nth-child(2n) {
  @apply md:bg-gray-200;
}

/* Стилі для елементів заголовка таблиці */
table.basic thead tr td,
table.basic thead tr th
{
  @apply flex flex-row justify-center items-center md:table-cell text-[1.4rem] text-gray-600 uppercase px-4 py-2 md:text-[.6rem] lg:text-sm;
}

/* Стилі для елементів тіла таблиці */
table.basic tr td{
  @apply flex flex-col items-center md:table-cell px-4 py-1 text-[1.3rem] md:text-[.6rem] lg:text-sm leading-normal;
}

/* Стилі для тіла таблиці */
table.basic tbody{
  @apply flex flex-col gap-y-6 md:table-row-group w-full break-all md:break-normal;
}

/* Стилі для посилань у таблиці */
table.basic a{
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}

/* Стилі для фільтрів статусу */
button.status-filter-button {
  @apply text-dark-text-color text-lg md:text-base;
}

/* Стилі для вибраних фільтрів статусу */
button.status-filter-button.selected {
  @apply font-medium border-b border-solid border-dark-text-color rounded-none;
}

/* Стилі для пагінації */
.pagination .page-item {
  @apply text-sm lg:text-base py-1 px-3 bg-transparent hover:bg-secondary-lighter-color text-dark-text-color rounded-sm transition-colors duration-200 ease-in;
}

/* Стилі для активної сторінки в пагінації */
.pagination .page-item.active {
  @apply text-sm lg:text-base bg-secondary-color text-dark-text-color;
}

/* Стилі для анімації показу/приховування пошуку */
.search-hidden {
  @apply w-0 overflow-hidden opacity-0 transition-all duration-500 ease-in-out;
}
.search-visible {
  @apply w-3/5 opacity-100 transition-all duration-500 ease-in-out;
}

/* Стилі для елементів на сторінці Dashboard */
.dashboard h3 {
  @apply text-sm md:text-lg lg:text-2xl;
}
.dashboard p {
  @apply text-center text-lg md:text-4xl lg:text-6xl py-2 md:py-6 text-secondary-color;
}
.dashboard .w-2\/3 p{
  @apply text-base md:text-2xl lg:text-3xl;
}
