@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #264653;
  --color-secondary: #e9c46a;
  --color-logo: #219ebc;
  --color-danger: #E76F51;
  --color-success: #2A9D8F;
  --color-page: #fff;
  --dark-text-color: #212529;
  --text-color: #dee2e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer  {
  .text-xxs {
    font-size: 0.5rem;
    line-height: .8rem;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  @apply min-h-full
}
text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
input, textarea, select {
  @apply border-2 border-gray-300 px-1 w-full rounded-none leading-10 mb-2
}
input:focus, textarea:focus, select:focus {
  @apply border-gray-900
}
button {
  @apply rounded-md mb-2 cursor-pointer transition-all
}
button[disabled] {
  @apply cursor-not-allowed
}
nav a:not(.bg-secondary-color):hover {
  @apply text-secondary-color;
}
table.basic{
  @apply w-full flex md:table flex-col items-center text-center md:text-left gap-6 md:bg-gray-100;
}
table.basic thead{
  @apply w-full flex md:table-header-group flex-col justify-center bg-gray-300 rounded-sm;
}
table.basic tr{
  @apply border border-gray-300 rounded-sm md:border-none text-dark-text-color text-xs;
}
table.basic td:nth-child(2n-1) {
  @apply bg-gray-100 md:bg-inherit;
}
table.basic tr:nth-child(2n) {
  @apply md:bg-gray-200;
}
table.basic thead tr td,
table.basic thead tr th
{
  @apply flex flex-row justify-center items-center md:table-cell text-[1.4rem] text-gray-600 uppercase px-4 py-2 md:text-[.6rem] lg:text-sm;
}
table.basic tr td{
  @apply flex flex-col items-center md:table-cell px-4 py-1 text-[1.3rem] md:text-[.6rem] lg:text-sm leading-normal;
}
table.basic tbody{
  @apply flex flex-col gap-y-6 md:table-row-group w-full break-all md:break-normal;
}
table.basic a{
  @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}
h1.page-header {
  @apply text-3xl py-4;
}
button.status-filter-button {
  @apply text-lg md:text-base;
}
button.status-filter-button.selected {
    font-weight: 600;
    border-bottom: 1px solid;
    border-radius: 0;
}
.pagination .page-item {
 @apply text-sm lg:text-base py-1 px-3 bg-transparent rounded-sm hover:bg-text-color hover:border-text-color transition-colors duration-200 ease-in;
}
.pagination .page-item.active {
 @apply text-sm lg:text-base bg-secondary-color;
}